---
layout: base.liquid
---
<pre class="ascii jitter-1" aria-hidden="true">
   . . . {{ title }} . . .
     .    .  .     .  .
</pre>
<div class="right-ascii ghost" aria-hidden="true">... : :  ....</div>

<u>{{ title }}</u>
<br><br>
{{ content }}

<br><br>
<a href="/blog/">â† back</a>
