---
layout: base.liquid
title: Blog
description: "Technical notes and project builds by Eren Batuhan Es. AI testing, automation, OCR pipelines, and product development insights."
permalink: /blog/index.html
---
<section class="section">
  <div class="tour">
    <h1 class="tour-head">ALL POSTS</h1>
    <div class="tour-sub">archive</div>

    {% capture DOTS %}........................{% endcapture %}
    <div class="dl">
      {% assign posts = collections.post | reverse %}
      {% for post in posts %}
      <article class="dl-row">
        <div class="dl-left">
          {{ post.date | date: "%d.%m" }} <b>{{ post.data.title }}</b>
        </div>
        <div class="dl-dots" aria-hidden="true">{{ DOTS }}</div>
        <div class="dl-right"><a href="{{ post.url }}">read</a></div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
